.blockPage {
opacity: 0 !important;
}

.mpmg-padding-1rem {
padding: 1rem !important;
}

.mpmg-width-100 {
width: 100% !important;
}

.mpmg-top-1rem {
position: relative !important;
top: 1rem !important;
}

.mpmg-header {
min-height: 10rem !important;
background-color: rgb(128, 0, 0)!important;
color: rgb(255,215,0)!important;
}

.mpmg-content {
min-height: calc(100vh - 20rem) !important;
}

.mpmg-footer {
min-height: 10rem !important;
background-color: rgb(128, 0, 0) !important;
color:rgb(255,215,0) !important;
}

.mpmg-flex-justify-content {
display: flex !important;
justify-content: center !important;
}

.mpmg-flex-align-items {
display: flex !important;
align-items: center !important;
}
.navbar{
	background-color :rgb(255,215,0) !important;
}

li > a{
	color: rgb(128, 0, 0) !important;
}
li > a:hover{
	background-color: transparent !important;
	color: rgb(250, 41, 18) !important;
}

div > button{
	
	color : rgb(255,215,0) !important;
	background-color : rgb(128,0,0) !important;
}
img {
	height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}
.navbar-default .navbar-brand {
  color:  rgb(128,0,0) !important;
}
 .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
 background-color:unset !important;
 }
 .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
 background-color:unset !important;
 }
 .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li  {
 background-color:unset !important;
 }
 .toutesMesRecettes {
 display:flex !important;
 flex-direction:row !important;
 }
 .espaceperso{
 border:unset !important;
 }
 .carouselP{
 color:rgb(128,0,0) !important;
 }
 .parentcontainer{
 display : flex !important;
 justify-content: space-between !important;
 }
 .carouselcontainer{
 display: flex !important;
 align-items : flex-start !important;
 }
 .titrecarousel{
 text-align: right !important;
 color : rgb(128,0,0) !important;
 font-weight: bold !important;
 width: 48% !important;
 
 }
.descsite{
width : 500px !important;
color : rgb(128,0,0) !important;
font-weight: bold !important;
}
 

