<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:head>
	<ui:insert name="head"></ui:insert>
	<h:outputStylesheet library="css" name="style.css" />
</h:head>
<h:body>
	<div
		class="mpmg-header mpmg-flex-justify-content mpmg-flex-align-items">
		<h1>Mon pain et mes gâteaux</h1>
	</div>
	<b:form>
		<b:navBar class="navbarLinks"
			brand="#{mbLogin.user.name} #{mbLogin.user.surname}">
			<b:navbarLinks>
				<b:navLink value="Accueil" icon-awesome="home" href="index.xhtml" />
				<b:dropMenu value="Recettes">
				<b:dropMenu value="Recettes accès libre" >
				<c:forEach var="recipe" items="#{mbRecipe.allFreeRecipes}">
						<b:navCommandLink value="#{recipe.title}"
							action="#{mbRecipe.redirectToRecipe(recipe)}" />
					</c:forEach>
				</b:dropMenu>
				<b:dropMenu value="Recettes premium" >
				<c:forEach var="recipe" items="#{mbRecipe.allPremiumRecipes}">
						<b:navCommandLink value="#{recipe.title}"
							action="#{mbRecipe.redirectToRecipe(recipe)}" />
					</c:forEach>
				</b:dropMenu>
				</b:dropMenu>
				<b:navLink value="Forum" icon-awesome="weixin" href="test.xhtml"
					rendered="#{mbLogin.user.isMember}" />
				<b:navLink value="Mon espace" icon-awesome="user"
					href="useraccount.xhtml" rendered="#{mbLogin.isConnected()}" />
				<b:navCommandLink value="Mes recettes"
					action="#{mbRecipe.showFav()}" icon-awesome="cutlery"
					rendered="#{mbLogin.isConnected()}" />
				<b:navLink value="Connexion" icon-awesome="key" href="login.xhtml"
					rendered="#{!mbLogin.isConnected()}" />
				<b:navCommandLink value="Déconnexion" icon-awesome="" 
					rendered="#{mbLogin.isConnected()}"
					action="#{mbLogin.disconnect()}" />
				<b:navLink value="Nouveau compte" icon-awesome="home"
					href="create.xhtml" rendered="#{!mbLogin.hasAccount()}" />
			</b:navbarLinks>
		</b:navBar>
	</b:form>
	<b:container>
		<b:row>
			<b:column style-class="mpmg-content">
				<ui:insert name="content"></ui:insert>
			</b:column>
		</b:row>

	</b:container>
	<div
		class="mpmg-footer mpmg-flex-justify-content mpmg-flex-align-items">
		<h2>MPMG - 2022</h2>
	</div>
</h:body>
</html>
