<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">

<ui:composition template="/arch.xhtml">
	<ui:define name="head">
		<title>Accueil</title>
	</ui:define>
	<ui:define name="content">
	<div class="titrecarousel">
	<h1>Recettes populaires du moment</h1>
	</div>
	<br/>
	<b:container class="parentcontainer">
<b:carousel class="carouselcontainer" style="width:400px" interval="5000" >
 <b:carouselItem >
  <h:graphicImage library="pictures" name="brioche.jpg" alt="Brioche" style="width: 800px; height: 600px" />
  <b:carouselCaption>
   <h2 style="color : rgb(255,215,0); font-weight: bolder;">Notre brioche</h2>
    <p style="color : rgb(255,215,0); font-weight: bolder;">Une merveilleuse gourmandise 
    à faire tout seul ou avec les enfants.</p>
  </b:carouselCaption>
 </b:carouselItem>
 <b:carouselItem>
  <h:graphicImage library="pictures" name="kouignamann.jpg" alt="Tourte de seigle" style="width: 800px; height: 600px" />
  <b:carouselCaption>
   <h2 style="color : rgb(255,215,0); font-weight: bolder;">Kouign amann</h2>
  </b:carouselCaption>
 </b:carouselItem>
 <b:carouselItem>
  <h:graphicImage library="pictures" name="fraisier.jpg" alt="Fraisier" style="width: 800px; height: 600px" />
  <b:carouselCaption>
   <h2 style="color : rgb(255,215,0); font-weight: bolder;">Fraisier crème au beurre</h2>
  </b:carouselCaption>
 </b:carouselItem>
 <b:carouselItem>
  <h:graphicImage library="pictures" name="canele.jpg" alt="Canelé" style="width: 800px; height: 600px" />
  <b:carouselCaption>
   <h2 style="color : rgb(255,215,0); font-weight: bolder;">Canelés de Bordeaux</h2>
   <p style="color : rgb(255,215,0); font-weight: bold;">Recette authentique par notre chef Bruno Albouze</p>
  </b:carouselCaption>
 </b:carouselItem>
 <b:carouselItem>
  <h:graphicImage library="pictures" name="fondant.jpg" alt="Fondant" style="width: 800px; height: 600px" />
   <b:carouselCaption>
   <h2 style="color : rgb(255,215,0); font-weight: bolder;">Fondant au chocolat</h2>
  </b:carouselCaption>
 </b:carouselItem>
</b:carousel>
<p class="descsite">Mon pain et mes gâteaux est un espace de partage et d'apprentissage. 
Nous avons des recettes accessibles à tout le monde et des recettes premium qui sont payantes. 
Nous avons décidé de les rendre payante car il y a un chef qui s'investit, en plus de vous donner 
les meilleures recettes vous donne aussi des astuces et des conseils pour bien réussir la recette. 
C'est l’équivalent d’une masterclass  condensée.</p>
</b:container>
	</ui:define>
</ui:composition>
</html>