<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" 
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<ui:composition template="/arch.xhtml">
	<ui:define name="head">
		<title>Mon Compte</title>
	</ui:define>
	<ui:define name="content">
		 <h:form>
          <c:forEach var="recipe" items="#{mbRecipe.connectedUserRecipes}">
            <b:panel title="#{recipe.title}" value="#{recipe.title}" collapsed="true">
            <h:graphicImage value="./resources/pictures/#{recipe.picture}"/><br/>
            <h:outputLabel value="#{recipe.title}" /><br/>
            <h:outputLabel value="#{recipe.description}" /><br/>
            <h:outputLabel value="#{recipe.prepTime}" /><br/>
            </b:panel>
          </c:forEach>
        </h:form>
	</ui:define>
</ui:composition>
</html>