<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" 
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<ui:composition template="/arch.xhtml">
	<ui:define name="content">
		 <h:form>
            <b:panel title="#{mbRecipe.recipe.title}" collapsed="false">
	            <h:graphicImage value="./resources/pictures/#{mbRecipe.recipe.picture}"/><br/>
	            <h:outputLabel value="Difficulté : " /><h:outputText value=" #{mbRecipe.recipe.difficulty}" /><br/>
	            <h:outputLabel value="Temps de préparation : " /><h:outputText value="#{mbRecipe.recipe.prepTime}" /><br/>
	            <h:outputLabel value="Temps de cuisson : " /><h:outputText value="#{mbRecipe.recipe.cookingTime}" /><br/>
            </b:panel>
        </h:form>
	</ui:define>
</ui:composition>
</html>