<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">

<ui:composition template="/arch.xhtml">
	<ui:define name="head">
		<title>Mon compte</title>
	</ui:define>
	<ui:define name="content">
		<b:container>
		<h:form>
			<b:row>
				<b:column>
					<h:outputLabel value="Prénom :" /><h:inputText value="#{mbLogin.user.name}" class="espaceperso" />
				</b:column>
			</b:row>
			<br/>
			<b:row>
				<b:column>
					<h:outputLabel value="Nom :" /><h:inputText value="#{mbLogin.user.surname}" class="espaceperso"/>
				</b:column>
			</b:row>
			<br/>
			<b:row>
				<b:column>
					<h:outputLabel value="Email :" /><h:inputText value="#{mbLogin.user.email}" class="espaceperso"/> 
				</b:column>
			</b:row>
				<b:commandButton action="#{mbLogin.update()}" look="primary">Modifier</b:commandButton>
			</h:form>
		</b:container>
	</ui:define>
</ui:composition>
</html>